<div style="padding: 2rem">
  <div>
    <label for="StudentName">Name:</label>
    <input
      type="text"
      name="StudentName"
      #StudentName="ngModel"
      [(ngModel)]="studentObject.Student_Name"
      class="form-control"
      style="width: 9rem"
    />
  </div>
  <br />
  <div>
    <label for="StudentSurname">Surname:</label>
    <input
      type="text"
      name="StudentSurname"
      [(ngModel)]="studentObject.Student_Surname"
      class="form-control"
      style="width: 9rem"
    />
  </div>
  <div>
    <label>Department:</label>
    <select
      name="DepartmentID"
      class="form-control"
      id=""
      [(ngModel)]="studentObject.Department_ID"
      (change)="selectDepartment($event.target.value)"
      style="width: 9rem"
    >
      <option value="0">--Select--</option>
      <option
        value="{{ item.Department_ID }}"
        *ngFor="let item of departmentList"
      >
        {{ item.Department_Descr }}
      </option>
    </select>
  </div>
</div>
<div style="padding-left: 2rem">
  <button class="btn btn-primary" (click)="addStudent()">Save</button>
  <button class="btn btn-primary" (click)="routerBack()">Back</button>
  <button class="btn btn-primary" (click)="adStudent()">Savepop</button>
</div>
