<div style="padding-top: 2rem;margin-left: 1rem;">
<button class="btn btn-success" style="margin: 0.5rem;" (click)="routerAdd()"><i class="fa fa-plus" aria-hidden="true"></i></button>
<button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"  ><i class="fa fa-plus" aria-hidden="true" ></i></button>
<button class="btn btn-light" style="margin: 0.5rem;" (click)="addStudent()"><i class="fa fa-plus" aria-hidden="true"></i></button>
</div>

<div class="row">
  <div class="col-md-12 offset-md-4">
    <div class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Department</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let item of studentList">
        <td style="text-align: center;">{{ item.Student_Name }}</td>
        <td style="text-align: center;">{{ item.Student_Surname }}</td>
        <td style="text-align: center;">{{ item.Department.Department_Descr}}</td>
        <td>
          <button class="btn btn-sm btn-outline-primary" (click)="editStudent(item)" >Edit</button>
        </td>
        <td>
          <button (click)="deleteStudent(item.Student_ID)" class="btn btn-sm btn-outline-danger">Delete</button>
        </td>
      </tr>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="refreshList() ">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-student></app-add-student> <span><a>cecec</a></span>
      </div>
     
    </div>
  </div>
</div>